<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add/Edit Meal</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMealForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="sendMealForm()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="mealData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="mealData.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="mealData.location">
        </label>
        <label class="item item-input">
          <span class="input-label">Image</span>
          <input type="file" file-model="mealData.image" name="image">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Meal</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
