<ion-view>
  	<ion-nav-title>{{::meal.name}}</ion-nav-title>
  	<ion-nav-buttons side="right">
	<button class="button button-icon button-clear ion-trash-a" ng-click="deleteMeal(meal)">
	</button>
</ion-nav-buttons>
  <ion-content padding="false">
<ion-card padding="false">
    <div class="item item-avatar">
	  <img ng-src="{{meal.image_url_thumb}}">
	  <h2>{{meal.name}}</h2>
    <p>{{meal.description}}</p>
	  <p ng-if="meal.latitude > 0"><strong>Location:</strong> {{meal.latitude}}, {{meal.longitude}}</p>
    </div>

    <div class="item item-image">
      <img ng-src="{{meal.image_url_orig}}">
    </div>

    <a class="item item-icon-left assertive" ng-click="openMessage(meal)">
      <i class="icon ion-email"></i>
      Send Message
    </a>

  </ion-card>
  </ion-content>
</ion-view>
