<ion-view view-title="Public Meals">
<ion-nav-buttons side="right">
	<button class="button button-icon button-clear ion-android-add" ng-click="addMeal()">
	</button>
</ion-nav-buttons>
	<ion-content>
	    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
		<ion-list can-swipe="true">
		  <ion-item ng-repeat="meal in meals" class="item item-thumbnail-left" href="#/app/meals/{{meal.id}}">
			<img ng-src="{{meal.image_url_thumb}}">
			<h2>{{meal.name}}</h2>
			<p>{{meal.description}}</p>
			<p ng-if="meal.latitude > 0">{{meal | distance}}</p>
		</ion-list>
		<ion-item ng-show="!meals.length">
			<h2 style="text-align:center">No Recent Meals Available</h2>
			<p style="text-align:center">Pull down to refesh the list</p>
		</ion-item>

	</ion-content>
</ion-view>
